---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import Hero from "../components/sections/Hero.astro";
import Work from "../components/sections/Work.astro";
import CliTools from "../components/sections/CliTools.astro";
import Checkpoints from "../components/sections/Checkpoints.astro";
---

<Layout>
  <main>
    <Header />
    <Hero />
    <Work />
    <CliTools />
    <Checkpoints />
    <Footer />
  </main>
</Layout>
