---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Work from "../components/Work.astro";
import Checkpoints from "../components/Checkpoints.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Header />
    <Hero />
    <Work />
    <Checkpoints />
    <Footer />
  </main>
</Layout>
